{% extends 'base.html.twig' %}
{% block title %}Informations{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card" data-controller="general">
        <div class="card-header border-transparent">
            <h3 class="card-title">Informations</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>Database</th>
                        <th>Statut</th>
                        <th>Tables</th>
                        <th>Colonnes</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="{{ path('app_dump', {'name': potterDb.name}) }}">{{ potterDb.name }}</a></td>
                        <td>{{ potterDb.isConnected ? "<span>
            <i class='fas fa-check-circle mr-1'></i>
            Connectée
        </span>" : "<span>
            <i class='fas fa-times-circle mr-1'></i>
        </span> Non Connectée" }}
                        </td>
                        <td>{{ potterDb.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in potterDb.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': potterDb.name}) }}" class="btn btn-sm btn-info">Faire
                                un backup</a>
                        </td>
                    </tr>

                    <tr>
                        <td><a href="{{ path('app_dump', {'name': backupDb.name}) }}">{{ backupDb.name }}</a></td>
                        <td>{{ backupDb.isConnected ? "<span>
            <i class='fas fa-check-circle'></i>
            Connectée
        </span>" : "<span>
            <i class='fas fa-times-circle mr-1'></i>
        </span> Non Connectée" }}</td>
                        <td>{{ backupDb.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in backupDb.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': backupDb.name}) }}" class="btn btn-sm btn-info">Faire un
                                backup</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
