{% extends 'base.html.twig' %}
{% block title %}Informations{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card" data-controller="general">
        <div class="card-header border-transparent">
            <h3 class="card-title">Informations</h3>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>Database</th>
                        <th>Statut</th>
                        <th>Tables</th>
                        <th>Colonnes</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="{{ path('app_dump', {'name': default.name}) }}">{{ default.name }}</a></td>
                        <td>{{ default.isConnected ? '🟢 Connectée' : '🔴 Non Connectée' }}</td>
                        <td>{{ default.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in default.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': default.name}) }}" class="btn btn-sm btn-info">Faire un backup</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_dump', {'name': fixtures_db.name}) }}">{{ fixtures_db.name }}</a></td>
                        <td>{{ fixtures_db.isConnected ? '🟢 Connectée' : '🔴 Non Connectée' }}</td>
                        <td>{{ fixtures_db.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in fixtures_db.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': fixtures_db.name}) }}" class="btn btn-sm btn-info">Faire un backup</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_dump', {'name': backup.name}) }}">{{ backup.name }}</a></td>
                        <td>{{ backup.isConnected ? '🟢 Connectée' : '🔴 Non Connectée' }}</td>
                        <td>{{ backup.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in backup.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': backup.name}) }}" class="btn btn-sm btn-info">Faire un backup</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_dump', {'name': backuptwo.name}) }}">{{ backuptwo.name }}</a></td>
                        <td>{{ backuptwo.isConnected ? '🟢 Connectée' : '🔴 Non Connectée' }}</td>
                        <td>{{ backuptwo.tables|join(', ') }}</td>
                        <td>
                            <ul>
                                {% for tableName, tableColumns in backuptwo.columns %}
                                    <li>
                                        <strong>{{ tableName }}:</strong>
                                        {{ tableColumns|join(', ') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('app_dump', {'name': backuptwo.name}) }}" class="btn btn-sm btn-info">Faire un backup</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
